@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root{
    --primary-color:  #AEB6BF;
    --secondary-color: #34495E ;
    --dark-color:#1B2631;
    --light-color: #f4f4f4;
    --success-color: #5cb85c;
    --error-color: #d9534f;
}
html{
    background: url("../images//school.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: 'lato', sans-serif;
    color: 333;
    line-height: 1.6;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: #333;
}
img{
    width: 100%;
}
input::placeholder { 
    font-size: 16px;
    font-style: italic;
    padding: 5%;
    text-align: center;
 }
input, select{
    padding:2% 4%;
    width: 45%;
    color: black;
    border-radius: 5px;
    margin: 1% 0%;  
}
pre{
    display: inline;
}
.buttn{
    background-color: var(--dark-color);
    width: auto;
    color: var(--light-color);
    font-size: 16px;   
    border-radius: 10px;
    margin-left: 2px;
    margin-bottom: 5%;
    padding: 2% 5%;
    align-items: center;
    box-shadow: none;
}
.hidden{
    visibility: hidden;
    height:0; 
}
.navbar{
 
    color: var(--dark-color);
    overflow: visible;
}
.navbar ul {
    display: flex;
    position: flex-end;
    font-size: 20px;
    text-decoration: bold;
}
.navbar a {
    color: var(--dark-color);
    padding: 10px;
    margin: 0 5px;
}
.navbar a:hover {
    border-bottom: 2px #fff solid ;
}

.navbar{
    justify-content: space-between;
}
.container{
    overflow: visible;
    height: 50px;
    padding: 10px 20px;
    padding-bottom: 30px;
    marging-bottom: 10px; 
    gap: 40%;
    display: flex;
    justify-content: space-between;
}
.about h1{
    text-align: center;
}
.about{
    background-color: var(--primary-color);
    margin: 4% 0;
    padding: 3%;
    text-align: justify;
}
.sdata{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 3%;
    font-size: 20px;    
}
.getInf{
    background: rgba(0, 0, 0, 0.356);
    color: #f4f4f4;
    padding:  3%;
    margin-right: 3%;
    border-radius: 10px;
    line-height: 2;
}